* {
  box-sizing: border-box;
  margin: 0 auto;
}

main {
  max-width: 95%;
}

.App {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 3fr;
}

#leftBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  width: 100%;
}

/* #leftBox > div {
  width: 100%;
} */

#rightBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6px;
  width: 100%;
}

#rightBox > div {
  background: lightgreen;
  padding: 8px;
}


